.slider-container {
    position: relative;
    width: 80%;
    overflow: hidden;
    margin: 0 auto;
  }
  
  .slider {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }
  
  .slider-item {
    min-width: 100%;
    transition: opacity 0.5s ease-in-out;
  }
  
  .slider-item img {
    width: 100%;
    display: block;
  }
  
  .slider-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

    color: rgb(0, 174, 255);
    border: none;
    padding: 10px;
    font-size: 24px;
    cursor: pointer;
  }
  
  .prev {
    left: 10px;
  }
  
  .next {
    right: 10px;
  }
  
  .pagination {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
  }
  
  .dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: gray;
    margin: 0 5px;
    cursor: pointer;
  }
  
  .dot.active {
    background-color: white;
  }
 