* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v318_5181 {
  width: 375px;
  height: 7626px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v318_5182 {
  width: 375px;
  height: 335px;
  background: url("../images/v318_5182.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 48px;
  left: 0px;
  overflow: hidden;
}
.v318_5183 {
  width: 375px;
  height: 335px;
  background: rgba(0,0,0,0.3499999940395355);
  opacity: 1;
  position: absolute;
  top: 48px;
  left: 0px;
  overflow: hidden;
}
.v318_5184 {
  width: 375px;
  height: 451px;
  background: url("../images/v318_5184.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 950px;
  left: 4216px;
  overflow: hidden;
}
.v318_5185 {
  width: 375px;
  height: 451px;
  background: url("../images/v318_5185.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v318_5186 {
  width: 375px;
  height: 451px;
  background: rgba(0,0,0,0.3499999940395355);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v318_5187 {
  width: 238px;
  color: rgba(20,20,22,1);
  position: absolute;
  top: 2089px;
  left: 16px;
  font-family: Impact;
  font-weight: Regular;
  font-size: 26px;
  opacity: 1;
  text-align: left;
}
.v318_5188 {
  width: 320px;
  color: rgba(20,20,22,1);
  position: absolute;
  top: 4496px;
  left: 16px;
  font-family: Impact;
  font-weight: Regular;
  font-size: 26px;
  opacity: 1;
  text-align: left;
}
.v318_5189 {
  width: 320px;
  color: rgba(20,20,22,1);
  position: absolute;
  top: 5252px;
  left: 16px;
  font-family: Impact;
  font-weight: Regular;
  font-size: 26px;
  opacity: 1;
  text-align: left;
}
.v318_5190 {
  width: 375px;
  height: 1848px;
  background: url("../images/v318_5190.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 5778px;
  left: 0px;
  overflow: hidden;
}
.v318_5191 {
  width: 375px;
  height: 100%;
  background: rgba(20,20,22,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v318_5192 {
  width: 245px;
  height: 50px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 280px;
  left: 16px;
  border-top-left-radius: 35px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 35px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v318_5193 {
  width: 234px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 185px;
  left: 16px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v318_5194 {
  width: 169px;
  color: rgba(164,165,168,1);
  position: absolute;
  top: 246px;
  left: 28px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v318_5196 {
  width: 83px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 668px;
  left: 16px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v318_5197 {
  width: 125px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 713px;
  left: 16px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v318_5198 {
  width: 84px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 758px;
  left: 16px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v318_5199 {
  width: 122px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 616px;
  left: 16px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v318_5200 {
  width: 53px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1393px;
  left: 16px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v318_5201 {
  width: 107px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1461px;
  left: 16px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v318_5202 {
  width: 89px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1529px;
  left: 16px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v318_5203 {
  width: 213px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1597px;
  left: 16px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v318_5204 {
  width: 117px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1705px;
  left: 16px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v318_5205 {
  width: 303px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1740px;
  left: 16px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v318_5206 {
  width: 343px;
  height: 1px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 591px;
  left: 16px;
  overflow: hidden;
}
.v318_5207 {
  width: 343px;
  height: 1px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 801px;
  left: 16px;
  overflow: hidden;
}
.v318_5208 {
  width: 343px;
  height: 1px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1154px;
  left: 16px;
  overflow: hidden;
}
.v318_5209 {
  width: 343px;
  height: 1px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1369px;
  left: 16px;
  overflow: hidden;
}
.v318_5210 {
  width: 343px;
  height: 1px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1665px;
  left: 16px;
  overflow: hidden;
}
.v318_5211 {
  width: 139px;
  height: 23px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 46px;
  left: 16px;
}
.v318_5212 {
  width: 335px;
  height: 41px;
  background: url("../images/v318_5212.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 8px;
  opacity: 1;
  position: absolute;
  top: 102px;
  left: 16px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v318_5220 {
  width: 294px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 549px;
  left: 16px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v318_5221 {
  width: 145px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 388px;
  left: 16px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v318_5222 {
  width: 144px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 430px;
  left: 16px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v318_5223 {
  width: 149px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 497px;
  left: 16px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v318_5224 {
  width: 224px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 336px;
  left: 16px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v318_5225 {
  width: 121px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 885px;
  left: 16px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v318_5226 {
  width: 185px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1067px;
  left: 16px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v318_5227 {
  width: 84px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1112px;
  left: 16px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v318_5228 {
  width: 84px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 930px;
  left: 16px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v318_5229 {
  width: 84px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 973px;
  left: 16px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v318_5230 {
  width: 84px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1016px;
  left: 16px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v318_5231 {
  width: 143px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 825px;
  left: 16px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v318_5232 {
  width: 99px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1234px;
  left: 16px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v318_5233 {
  width: 207px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1279px;
  left: 16px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v318_5234 {
  width: 89px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1324px;
  left: 16px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v318_5235 {
  width: 142px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 1179px;
  left: 16px;
  font-family: Roboto;
  font-weight: Medium;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v318_5236 {
  width: 68px;
  height: 8px;
  background: url("../images/v318_5236.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 12px;
  opacity: 1;
  position: absolute;
  top: 5188px;
  left: 153px;
  overflow: hidden;
}
.v318_5237 {
  width: 8px;
  height: 8px;
  background: rgba(136,60,218,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v318_5238 {
  width: 8px;
  height: 8px;
  background: rgba(164,165,168,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 20px;
  border-radius: 50%;
}
.v318_5239 {
  width: 8px;
  height: 8px;
  background: rgba(164,165,168,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 40px;
  border-radius: 50%;
}
.v318_5240 {
  width: 8px;
  height: 8px;
  background: rgba(164,165,168,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 60px;
  border-radius: 50%;
}
.v318_5241 {
  width: 68px;
  height: 8px;
  background: url("../images/v318_5241.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 12px;
  opacity: 1;
  position: absolute;
  top: 5714px;
  left: 153px;
  overflow: hidden;
}
.v318_5242 {
  width: 8px;
  height: 8px;
  background: rgba(136,60,218,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v318_5243 {
  width: 8px;
  height: 8px;
  background: rgba(164,165,168,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 20px;
  border-radius: 50%;
}
.v318_5244 {
  width: 8px;
  height: 8px;
  background: rgba(164,165,168,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 40px;
  border-radius: 50%;
}
.v318_5245 {
  width: 8px;
  height: 8px;
  background: rgba(164,165,168,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 60px;
  border-radius: 50%;
}
.v318_5246 {
  width: 323px;
  height: 604px;
  background: rgba(255,255,255,1);
  padding: 32px 24px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 4552px;
  left: 16px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: -8px 10px 23px rgba(0.9458333253860474, 0.9458333253860474, 0.9458333253860474, 1);
  overflow: hidden;
}
.v318_5247 {
  width: 275px;
  height: 548px;
  background: url("../images/v318_5247.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 32px;
  left: 24px;
  overflow: hidden;
}
.v318_5248 {
  width: 270px;
  height: 288px;
  background: url("../images/v318_5248.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 12px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v318_5249 {
  width: 222px;
  color: rgba(20,20,22,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v318_5250 {
  width: 270px;
  color: rgba(20,20,22,1);
  position: absolute;
  top: 57px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v318_5251 {
  width: 275px;
  height: 236px;
  background: url("../images/v318_5251.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 312px;
  left: 0px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v318_5252 {
  width: 318px;
  height: 374px;
  background: rgba(255,255,255,1);
  padding: 32px 24px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 5308px;
  left: 16px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: -8px 10px 23px rgba(0.9458333253860474, 0.9458333253860474, 0.9458333253860474, 1);
  overflow: hidden;
}
.v318_5253 {
  width: 270px;
  height: 318px;
  background: url("../images/v318_5253.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 32px;
  left: 24px;
  overflow: hidden;
}
.v318_5254 {
  width: 270px;
  height: 268px;
  background: url("../images/v318_5254.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 12px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v318_5255 {
  width: 222px;
  color: rgba(20,20,22,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v318_5256 {
  width: 270px;
  color: rgba(20,20,22,1);
  position: absolute;
  top: 121px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v318_5258 {
  width: 323px;
  height: 604px;
  background: rgba(255,255,255,1);
  padding: 32px 24px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 4552px;
  left: 355px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: -8px 10px 23px rgba(0.9458333253860474, 0.9458333253860474, 0.9458333253860474, 1);
  overflow: hidden;
}
.v318_5259 {
  width: 275px;
  height: 548px;
  background: url("../images/v318_5259.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 32px;
  left: 24px;
  overflow: hidden;
}
.v318_5260 {
  width: 270px;
  height: 288px;
  background: url("../images/v318_5260.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 12px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v318_5261 {
  width: 222px;
  color: rgba(20,20,22,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v318_5262 {
  width: 270px;
  color: rgba(20,20,22,1);
  position: absolute;
  top: 57px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v318_5263 {
  width: 275px;
  height: 236px;
  background: url("../images/v318_5263.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 312px;
  left: 0px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  overflow: hidden;
}
.v318_5264 {
  width: 323px;
  height: 374px;
  background: rgba(255,255,255,1);
  padding: 32px 24px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 5308px;
  left: 355px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: -8px 10px 23px rgba(0.9458333253860474, 0.9458333253860474, 0.9458333253860474, 1);
  overflow: hidden;
}
.v318_5265 {
  width: 275px;
  height: 548px;
  background: url("../images/v318_5265.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 32px;
  left: 24px;
  overflow: hidden;
}
.v318_5266 {
  width: 270px;
  height: 288px;
  background: url("../images/v318_5266.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 12px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v318_5267 {
  width: 222px;
  color: rgba(20,20,22,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v318_5268 {
  width: 270px;
  color: rgba(20,20,22,1);
  position: absolute;
  top: 57px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v318_5269 {
  width: 275px;
  height: 236px;
  background: url("../images/v318_5269.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 312px;
  left: 0px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  overflow: hidden;
}
.v318_5270 {
  width: 375px;
  height: 67px;
  background: url("../images/v318_5270.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 25px;
  left: 0px;
  overflow: hidden;
}
.v318_5271 {
  width: 169px;
  color: rgba(102,102,102,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 12px;
  opacity: 1;
  text-align: left;
}
.v318_5272 {
  width: 375px;
  height: 44px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 23px;
  left: 0px;
  overflow: hidden;
}
.v318_5273 {
  width: 219px;
  height: 30px;
  background: url("../images/v318_5273.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 78px;
  overflow: hidden;
}
.v318_5274 {
  width: 375px;
  height: 44px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 78px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v318_5277 {
  width: 219px;
  height: 30px;
  background: rgba(0,0,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v318_5278 {
  width: 66px;
  height: 11px;
  background: url("../images/v318_5278.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 294px;
  overflow: hidden;
}
.v318_5279 {
  width: 24px;
  height: 11px;
  background: url("../images/v318_5279.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 43px;
  overflow: hidden;
}
.v318_5280 {
  width: 22px;
  height: 11px;
  background: url("../images/v318_5280.png");
  opacity: 0.3499999940395355;
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid rgba(20,20,22,1);
}
.v318_5281 {
  width: 1px;
  height: 4px;
  background: rgba(20,20,22,1);
  opacity: 0.4000000059604645;
  position: absolute;
  top: 3px;
  left: 23px;
}
.v318_5282 {
  width: 18px;
  height: 7px;
  background: rgba(20,20,22,1);
  opacity: 1;
  position: absolute;
  top: 2px;
  left: 2px;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v318_5292 {
  background: url("../images/v318_5292.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 5px;
  overflow: hidden;
}
.v318_5293 {
  width: 6px;
  height: 6px;
  background: rgba(255,149,0,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v318_5294 {
  width: 54px;
  height: 21px;
  background: url("../images/v318_5294.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 12px;
  left: 21px;
  overflow: hidden;
}
.v318_5295 {
  width: 54px;
  height: 21px;
  background: url("../images/v318_5295.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 32px;
  border-top-right-radius: 32px;
  border-bottom-left-radius: 32px;
  border-bottom-right-radius: 32px;
  overflow: hidden;
}
.v318_5296 {
  width: 28px;
  height: 11px;
  background: rgba(20,20,22,1);
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 13px;
}
.v318_5297 {
  width: 672px;
  height: 555px;
  background: url("../images/v318_5297.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 1478px;
  left: 16px;
  overflow: hidden;
}
.v318_5298 {
  width: 330px;
  height: 202px;
  background: url("../images/v318_5298.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 12px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v318_5299 {
  width: 238px;
  color: rgba(20,20,22,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Impact;
  font-weight: Regular;
  font-size: 26px;
  opacity: 1;
  text-align: left;
}
.v318_5300 {
  width: 330px;
  color: rgba(20,20,22,1);
  position: absolute;
  top: 76px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v318_5301 {
  width: 328px;
  height: 281px;
  background: rgba(255,255,255,1);
  padding: 32px 24px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 228px;
  left: 0px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 1px 1px 21px rgba(0.8875000476837158, 0.8801041841506958, 0.8801041841506958, 1);
  overflow: hidden;
}
.v318_5302 {
  width: 280px;
  height: 225px;
  background: url("../images/v318_5302.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 32px;
  opacity: 1;
  position: absolute;
  top: 32px;
  left: 24px;
  overflow: hidden;
}
.v318_5303 {
  width: 280px;
  height: 142px;
  background: url("../images/v318_5303.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 12px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v318_5304 {
  width: 280px;
  color: rgba(20,20,22,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v318_5305 {
  width: 280px;
  color: rgba(20,20,22,1);
  position: absolute;
  top: 56px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v318_5307 {
  width: 328px;
  height: 281px;
  background: rgba(255,255,255,1);
  padding: 32px 24px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 228px;
  left: 344px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 1px 1px 21px rgba(0.8875000476837158, 0.8801041841506958, 0.8801041841506958, 1);
  overflow: hidden;
}
.v318_5308 {
  width: 280px;
  height: 225px;
  background: url("../images/v318_5308.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 32px;
  opacity: 1;
  position: absolute;
  top: 32px;
  left: 24px;
  overflow: hidden;
}
.v318_5309 {
  width: 280px;
  height: 142px;
  background: url("../images/v318_5309.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 12px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v318_5310 {
  width: 280px;
  color: rgba(20,20,22,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v318_5311 {
  width: 280px;
  color: rgba(20,20,22,1);
  position: absolute;
  top: 56px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v318_5313 {
  width: 88px;
  height: 8px;
  background: url("../images/v318_5313.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 12px;
  opacity: 1;
  position: absolute;
  top: 547px;
  left: 127px;
  overflow: hidden;
}
.v318_5314 {
  width: 8px;
  height: 8px;
  background: rgba(136,60,218,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 50%;
}
.v318_5315 {
  width: 8px;
  height: 8px;
  background: rgba(164,165,168,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 20px;
  border-radius: 50%;
}
.v318_5316 {
  width: 8px;
  height: 8px;
  background: rgba(164,165,168,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 40px;
  border-radius: 50%;
}
.v318_5317 {
  width: 8px;
  height: 8px;
  background: rgba(164,165,168,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 60px;
  border-radius: 50%;
}
.v318_5318 {
  width: 8px;
  height: 8px;
  background: rgba(164,165,168,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 80px;
  border-radius: 50%;
}
.v318_5319 {
  width: 375px;
  height: 329px;
  background: rgba(248,248,248,1);
  padding: 32px 16px;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 393px;
  left: 0px;
  overflow: hidden;
}
.v318_5320 {
  width: 330px;
  height: 273px;
  background: url("../images/v318_5320.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 32px;
  opacity: 1;
  position: absolute;
  top: 32px;
  left: 16px;
  overflow: hidden;
}
.v318_5321 {
  width: 330px;
  height: 190px;
  background: url("../images/v318_5321.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 12px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v318_5322 {
  width: 238px;
  color: rgba(20,20,22,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Impact;
  font-weight: Regular;
  font-size: 26px;
  opacity: 1;
  text-align: left;
}
.v318_5323 {
  width: 330px;
  color: rgba(20,20,22,1);
  position: absolute;
  top: 76px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.v318_5325 {
  width: 343px;
  height: 666px;
  background: url("../images/v318_5325.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 24px;
  opacity: 1;
  position: absolute;
  top: 764px;
  left: 16px;
  overflow: hidden;
}
.v318_5326 {
  width: 330px;
  height: 349px;
  background: url("../images/v318_5326.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 12px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v318_5327 {
  width: 225px;
  color: rgba(20,20,22,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Impact;
  font-weight: Regular;
  font-size: 26px;
  opacity: 1;
  text-align: left;
}
.v318_5328 {
  width: 330px;
  color: rgba(20,20,22,1);
  position: absolute;
  top: 140px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v318_5329 {
  width: 343px;
  height: 293px;
  background: url("../images/v318_5329.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 373px;
  left: 0px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v318_5330 {
  width: 341px;
  height: 889px;
  background: url("../images/v318_5330.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2528px;
  left: 16px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v318_5346 {
  width: 73px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 37px;
  left: 175px;
  font-family: Impact;
  font-weight: Regular;
  font-size: 34px;
  opacity: 1;
  text-align: center;
}
.v318_5347 {
  width: 19px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 227px;
  left: 175px;
  font-family: Impact;
  font-weight: Regular;
  font-size: 34px;
  opacity: 1;
  text-align: left;
}
.v318_5348 {
  width: 36px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 390px;
  left: 175px;
  font-family: Impact;
  font-weight: Regular;
  font-size: 34px;
  opacity: 1;
  text-align: left;
}
.v318_5349 {
  width: 40px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 580px;
  left: 175px;
  font-family: Impact;
  font-weight: Regular;
  font-size: 34px;
  opacity: 1;
  text-align: left;
}
.v318_5350 {
  width: 19px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 761px;
  left: 175px;
  font-family: Impact;
  font-weight: Regular;
  font-size: 34px;
  opacity: 1;
  text-align: left;
}
.v318_5351 {
  width: 121px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 90px;
  left: 175px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v318_5352 {
  width: 95px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 280px;
  left: 175px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v318_5353 {
  width: 122px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 443px;
  left: 175px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v318_5354 {
  width: 128px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 633px;
  left: 175px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v318_5355 {
  width: 139px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 814px;
  left: 175px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v318_5359 {
  width: 60px;
  height: 60px;
  background: url("../images/v318_5359.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 779px;
  left: 56px;
  overflow: hidden;
}
.v318_5360 {
  width: 35px;
  height: 55px;
  background: url("../images/v318_5360.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 5px;
  left: 0px;
  overflow: hidden;
}
.v318_5361 {
  width: 20px;
  height: 22px;
  background: rgba(212,238,71,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 8px;
}
.v318_5362 {
  width: 35px;
  height: 28px;
  background: rgba(212,238,71,1);
  opacity: 1;
  position: absolute;
  top: 26px;
  left: 0px;
}
.v318_5363 {
  width: 28px;
  height: 55px;
  background: url("../images/v318_5363.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 32px;
  overflow: hidden;
}
.v318_5364 {
  width: 20px;
  height: 22px;
  background: rgba(212,238,71,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
}
.v318_5365 {
  width: 27px;
  height: 28px;
  background: rgba(212,238,71,1);
  opacity: 1;
  position: absolute;
  top: 26px;
  left: 2px;
}
.name {
  color: #fff;
}
.v318_5367 {
  width: 341px;
  height: 335px;
  background: url("../images/v318_5367.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 2177px;
  left: 16px;
  overflow: hidden;
}
.v318_5368 {
  width: 341px;
  height: 335px;
  background: url("../images/v318_5368.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v318_5372 {
  width: 375px;
  height: 967px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 3473px;
  left: 0px;
  overflow: hidden;
}
.v318_5373 {
  width: 375px;
  height: 967px;
  background: rgba(248,248,248,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v318_5374 {
  width: 330px;
  height: 114px;
  background: url("../images/v318_5374.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 12px;
  opacity: 1;
  position: absolute;
  top: 26px;
  left: 16px;
  overflow: hidden;
}
.v318_5375 {
  width: 216px;
  color: rgba(20,20,22,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Impact;
  font-weight: Regular;
  font-size: 26px;
  opacity: 1;
  text-align: left;
}
.v318_5376 {
  width: 330px;
  color: rgba(20,20,22,1);
  position: absolute;
  top: 76px;
  left: 0px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v318_5377 {
  width: 343px;
  height: 293px;
  background: url("../images/v318_5377.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 172px;
  left: 16px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v318_5378 {
  width: 8px;
  height: 8px;
  background: rgba(136,60,218,1);
  opacity: 1;
  position: absolute;
  top: 313px;
  left: 283px;
  border-radius: 50%;
}
.v318_5379 {
  width: 8px;
  height: 8px;
  background: rgba(136,60,218,1);
  opacity: 1;
  position: absolute;
  top: 425px;
  left: 283px;
  border-radius: 50%;
}
.v318_5380 {
  width: 8px;
  height: 8px;
  background: rgba(136,60,218,1);
  opacity: 1;
  position: absolute;
  top: 369px;
  left: 283px;
  border-radius: 50%;
}
.v318_5381 {
  width: 8px;
  height: 8px;
  background: rgba(136,60,218,1);
  opacity: 1;
  position: absolute;
  top: 481px;
  left: 283px;
  border-radius: 50%;
}
.v318_5382 {
  width: 8px;
  height: 8px;
  background: rgba(136,60,218,1);
  opacity: 1;
  position: absolute;
  top: 313px;
  left: 339px;
  border-radius: 50%;
}
.v318_5383 {
  width: 8px;
  height: 8px;
  background: rgba(136,60,218,1);
  opacity: 1;
  position: absolute;
  top: 425px;
  left: 339px;
  border-radius: 50%;
}
.v318_5384 {
  width: 8px;
  height: 8px;
  background: rgba(136,60,218,1);
  opacity: 1;
  position: absolute;
  top: 369px;
  left: 339px;
  border-radius: 50%;
}
.v318_5385 {
  width: 8px;
  height: 8px;
  background: rgba(136,60,218,1);
  opacity: 1;
  position: absolute;
  top: 481px;
  left: 339px;
  border-radius: 50%;
}
.v318_5386 {
  width: 8px;
  height: 8px;
  background: rgba(136,60,218,1);
  opacity: 1;
  position: absolute;
  top: 341px;
  left: 283px;
  border-radius: 50%;
}
.v318_5387 {
  width: 8px;
  height: 8px;
  background: rgba(136,60,218,1);
  opacity: 1;
  position: absolute;
  top: 453px;
  left: 283px;
  border-radius: 50%;
}
.v318_5388 {
  width: 8px;
  height: 8px;
  background: rgba(136,60,218,1);
  opacity: 1;
  position: absolute;
  top: 397px;
  left: 283px;
  border-radius: 50%;
}
.v318_5389 {
  width: 8px;
  height: 8px;
  background: rgba(136,60,218,1);
  opacity: 1;
  position: absolute;
  top: 509px;
  left: 283px;
  border-radius: 50%;
}
.v318_5390 {
  width: 8px;
  height: 8px;
  background: rgba(136,60,218,1);
  opacity: 1;
  position: absolute;
  top: 341px;
  left: 339px;
  border-radius: 50%;
}
.v318_5391 {
  width: 8px;
  height: 8px;
  background: rgba(136,60,218,1);
  opacity: 1;
  position: absolute;
  top: 453px;
  left: 339px;
  border-radius: 50%;
}
.v318_5392 {
  width: 8px;
  height: 8px;
  background: rgba(136,60,218,1);
  opacity: 1;
  position: absolute;
  top: 397px;
  left: 339px;
  border-radius: 50%;
}
.v318_5393 {
  width: 8px;
  height: 8px;
  background: rgba(136,60,218,1);
  opacity: 1;
  position: absolute;
  top: 509px;
  left: 339px;
  border-radius: 50%;
}
.v318_5394 {
  width: 8px;
  height: 8px;
  background: rgba(136,60,218,1);
  opacity: 1;
  position: absolute;
  top: 313px;
  left: 311px;
  border-radius: 50%;
}
.v318_5395 {
  width: 8px;
  height: 8px;
  background: rgba(136,60,218,1);
  opacity: 1;
  position: absolute;
  top: 425px;
  left: 311px;
  border-radius: 50%;
}
.v318_5396 {
  width: 8px;
  height: 8px;
  background: rgba(136,60,218,1);
  opacity: 1;
  position: absolute;
  top: 369px;
  left: 311px;
  border-radius: 50%;
}
.v318_5397 {
  width: 8px;
  height: 8px;
  background: rgba(136,60,218,1);
  opacity: 1;
  position: absolute;
  top: 481px;
  left: 311px;
  border-radius: 50%;
}
.v318_5398 {
  width: 8px;
  height: 8px;
  background: rgba(136,60,218,1);
  opacity: 1;
  position: absolute;
  top: 313px;
  left: 367px;
  border-radius: 50%;
}
.v318_5399 {
  width: 8px;
  height: 8px;
  background: rgba(136,60,218,1);
  opacity: 1;
  position: absolute;
  top: 425px;
  left: 367px;
  border-radius: 50%;
}
.v318_5400 {
  width: 8px;
  height: 8px;
  background: rgba(136,60,218,1);
  opacity: 1;
  position: absolute;
  top: 369px;
  left: 367px;
  border-radius: 50%;
}
.v318_5401 {
  width: 8px;
  height: 8px;
  background: rgba(136,60,218,1);
  opacity: 1;
  position: absolute;
  top: 481px;
  left: 367px;
  border-radius: 50%;
}
.v318_5402 {
  width: 8px;
  height: 8px;
  background: rgba(136,60,218,1);
  opacity: 1;
  position: absolute;
  top: 341px;
  left: 311px;
  border-radius: 50%;
}
.v318_5403 {
  width: 8px;
  height: 8px;
  background: rgba(136,60,218,1);
  opacity: 1;
  position: absolute;
  top: 453px;
  left: 311px;
  border-radius: 50%;
}
.v318_5404 {
  width: 8px;
  height: 8px;
  background: rgba(136,60,218,1);
  opacity: 1;
  position: absolute;
  top: 397px;
  left: 311px;
  border-radius: 50%;
}
.v318_5405 {
  width: 8px;
  height: 8px;
  background: rgba(136,60,218,1);
  opacity: 1;
  position: absolute;
  top: 509px;
  left: 311px;
  border-radius: 50%;
}
.v318_5406 {
  width: 8px;
  height: 8px;
  background: rgba(136,60,218,1);
  opacity: 1;
  position: absolute;
  top: 341px;
  left: 367px;
  border-radius: 50%;
}
.v318_5407 {
  width: 8px;
  height: 8px;
  background: rgba(136,60,218,1);
  opacity: 1;
  position: absolute;
  top: 453px;
  left: 367px;
  border-radius: 50%;
}
.v318_5408 {
  width: 8px;
  height: 8px;
  background: rgba(136,60,218,1);
  opacity: 1;
  position: absolute;
  top: 397px;
  left: 367px;
  border-radius: 50%;
}
.v318_5409 {
  width: 8px;
  height: 8px;
  background: rgba(136,60,218,1);
  opacity: 1;
  position: absolute;
  top: 509px;
  left: 367px;
  border-radius: 50%;
}
.name {
  color: #fff;
}
.v318_5411 {
  width: 204px;
  height: 30px;
  background: url("../images/v318_5411.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 12px;
  opacity: 1;
  position: absolute;
  top: 130px;
  left: 16px;
  overflow: hidden;
}
.v318_5412 {
  width: 131px;
  color: rgba(255,255,255,1);
  position: absolute;
  top: 5px;
  left: 0px;
  font-family: Roboto;
  font-weight: Bold;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v318_5413 {
  width: 1px;
  height: 30px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 143px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  overflow: hidden;
}
.v318_5414 {
  width: 48px;
  color: rgba(248,248,248,1);
  position: absolute;
  top: 4px;
  left: 156px;
  font-family: Roboto;
  font-weight: Regular;
  font-size: 16px;
  opacity: 1;
  text-align: left;
}
.v318_5415 {
  width: 343px;
  height: 29px;
  background: url("../images/v318_5415.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 117px;
  opacity: 1;
  position: absolute;
  top: 65px;
  left: 16px;
  overflow: hidden;
}
.v318_5416 {
  width: 193px;
  height: 29px;
  background: url("../images/v318_5416.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 10px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v318_5417 {
  width: 154px;
  height: 28px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1px;
  left: 0px;
}
.v318_5418 {
  width: 29px;
  height: 29px;
  background: rgba(136,60,218,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 164px;
}
.v318_5419 {
  width: 33px;
  height: 15px;
  background: url("../images/v318_5419.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  margin: 5px;
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 310px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v318_5420 {
  width: 33px;
  height: 5px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
.v318_5421 {
  width: 33px;
  height: 5px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 10px;
  left: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  overflow: hidden;
}
